body{
	background: url("../img/fondo.png");
	background-attachment: fixed;
}

#logo{
	background: #66a3f1;
}

#menu ul li:hover{
	background: #bfddf8;
}

.button-more{
	background: #66a3f1;
}